html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1em;
	font-size: 62.5%;
	line-height: 62.5%;
	font-family:helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	position:relative;
}

figure img {
	max-width:100%;
}

p {
	margin:1em 0em;
}

/* End Zeroing */

/*General Stuff*/

#wrapper {
	width:100%;
	padding:1em;
}

.clear {
	clear:both;
}

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tanText {
	color:#A29B85;
}

.whiteText {
	color:#ffffff;
}

.uppercase {
	text-transform:uppercase;
}

.black {
	background:#000000;
}

.tan {
	background:#A29B85;
}

.tanLeft {
	border-left:1em solid #A29B85;
}

.tanRight {
	border-right:1em solid #A29B85;
}

.blackLeft {
	border-left:1em solid #000000;
}

.blackRight {
	border-right:1em solid #000000;
}

/*Headline*/

div#headWrapper {
	margin:0em auto 1em auto;
	width:98em;
	vertical-align:baseline;
}

h1#name {
	font-size:2.4em;
	font-weight:bold;
	display:inline;
	margin-left:1.5%;
}

h2#subtitles {
	font-size:1.8em;
	font-weight:bold;
	display:inline;
	margin-left:1em;
}

/*Nav*/


div#navBar {
	max-width:96em;
	min-width:60em;
}


.header {
	width:40%;
	height:100%;
	padding: .5em 0em;
}

#projItem {
	width:19%;
	height:100%;
	border-left:1em solid #A29B85;
	margin-left:.25em;
	vertical-align:middle;
}
/*
#projWrapper {
	border-left:1em solid #A29B85;
	margin-left:.25em;
}
*/
#projWrapper ul li {
	float:left;
	margin-left:1.25%;
	width:10%;
	font-size:1.8em;
	font-weight:bold;
	line-height:1em;
	margin-top:.2em;
}

#projWrapper ul li.imgBar {
	margin-top:0em;
	width:.55em;
	height:1.166em;
}

#navWrapper {
	max-width:98em;
	min-width:62em;
	margin:0em auto;
	line-height:1em;
	overflow: hidden;
	border-left:1em solid #000000;
	border-right:1em solid #A29B85;
}
#navWrapper ul {
	margin-left:.25em;
}

#navWrapper ul li {
	float:left;
	display:block;
}

.tan a {
	color:#000000;
	font-size:1.2em;
}

a.leftLink {
	margin-left:1em;
	text-decoration:none;
}

a.rightLink {
	margin-right:1em;
	float:right;
	text-decoration:none;
}

li.black a {
	font-weight:bold;
	font-size:1.2em;
}

/*Body*/

#bodyWrapper {
	max-width:98em;
	min-width:62em;
	margin:1em auto;
}

#contentWrapper {
	float:left;
	width:78%;
	line-height:1em;
	margin:1em 0em 1em 1.5%;
	font-family:helvetica, arial, sans-serif;
	font-size:1.2em;
	line-height:1.5em;
}

#rightNav {
	float:right;
	width:18%;
	margin-top:1em;
}

#textWrap {
	float:left;
	width:50%;
}


/* Resources */

#resourceWrapper {
	clear:both;
	max-width:96em;
	min-width:60em;
	margin: 0 auto;
}

.resourceButton {
	line-height:1em;
	clear:left;
	margin-bottom:.25em;
}

.resourceButton div {
	margin-left:.25em;
}


/*Right Nav */

.rightNavBtn {
	border-right:1em solid #000000;
	margin-bottom:.25em;
}

.navImage {
	border:.1em solid #000000;
	float:right;
	margin-right:.25em;
}

#imgLLC, #LLC{
	border-color:#9d0000;
}

#MUNE, #imgMUNE {
	border-color:#35333e;
}

#KIN, #imgKIN {
	border-color:#565d55;
}

#HAUS, #imgHAUS {
	border-color:#bd812b;
}

#TERM, #imgTERM {
	border-color:#898989;
}

#WSU, #imgWSU {
	border-color:#452c14;
}

#VFS, #imgVFS {
	border-color:#578cc0;
}

#PCI, #imgPCI {
	border-color:#a8b9b9;
}






















