html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1em;
	font-size: 62.5%;
	line-height: 62.5%;
	font-family:helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	position:relative;
}

figure img {
	max-width:100%;
}

p {
	margin:1em 0em;
}

/* End Zeroing */

/*General Stuff*/

#wrapper {
	width:100%;
	padding:1em;
}

.clear {
	clear:both;
}

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tanText {
	color:#A29B85;
}

.whiteText {
	color:#ffffff;
}

.blackText {
	color:#000000;
}

.uppercase {
	text-transform:uppercase;
}

.black {
	background:#000000;
}

.tan {
	background:#A29B85;
}

.tanLeft {
	border-left:1em solid #A29B85;
}

.tanRight {
	border-right:1em solid #A29B85;
}

.blackLeft {
	border-left:1em solid #000000;
}

.blackRight {
	border-right:1em solid #000000;
}

/*Headline*/

div#headWrapper {
	margin:0em auto 1em auto;
	width:98em;
	vertical-align:baseline;
}

h1#name {
	font-size:2.4em;
	font-weight:bold;
	display:inline;
	margin-left:1.5%;
}

h2#subtitles {
	font-size:1.8em;
	font-weight:bold;
	display:inline;
	margin-left:1em;
}

/*Nav*/


div#navBar {
	max-width:96em;
	min-width:60em;
}


.header {
	width:40%;
	height:100%;
	padding: .5em 0em;
}

#projItem {
	width:19%;
	height:100%;
	border-left:1em solid #A29B85;
	margin-left:.25em;
	vertical-align:middle;
}
/*
#projWrapper {
	border-left:1em solid #A29B85;
	margin-left:.25em;
}
*/
#projWrapper ul li {
	float:left;
	margin-left:1.25%;
	width:10%;
	font-size:1.8em;
	font-weight:bold;
	line-height:1em;
	margin-top:.2em;
}

#projWrapper ul li.imgBar {
	margin-top:0em;
	width:.55em;
	height:1.166em;
}

#navWrapper {
	max-width:98em;
	min-width:62em;
	margin:0em auto;
	line-height:1em;
	overflow: hidden;
	border-left:1em solid #000000;
	border-right:1em solid #A29B85;
}
#navWrapper ul {
	margin-left:.25em;
}

#navWrapper ul li {
	float:left;
	display:block;
}

.tan a {
	font-size:1.2em;
}

a.leftLink {
	margin-left:1em;
	text-decoration:none;
}

a.rightLink {
	margin-right:1em;
	float:right;
	text-decoration:none;
}

li.black a {
	font-weight:bold;
	font-size:1.2em;
}

/*Body*/

#bodyWrapper {
	max-width:98em;
	min-width:62em;
	margin:1em auto;
}

#contentWrapper {
	float:left;
	width:78%;
	line-height:1em;
	margin:1em 0em 1em;
	font-family:helvetica, arial, sans-serif;
	font-size:1.2em;
	line-height:1.5em;
}

#rightNav {
	float:right;
	width:20.3%;
	margin-top:1em;
}

#textWrap {
	float:left;
	width:50%;
}


/* Resources */

#resourceWrapper {
	clear:both;
	max-width:96em;
	min-width:60em;
	margin: 0 auto;
}

.resourceButton {
	line-height:1em;
	clear:left;
	margin-bottom:.25em;
}

.resourceButton div {
	margin-left:.25em;
}


/*Right Nav */


.rightNavBtn {
	border-right:1em solid #000000;
	margin-bottom:.25em;
}

.rightNavBtn.hover, .miniButton {
	border-left:1em solid #000000;
}

.navImage, .child {
	border:.1em solid #000000;
	float:right;
	margin-right:.25em;
	width:5.5em;
	line-height:1em;
}

div.fullBox {
	color:#ffffff !important;
}

div.hidden {
	display:none;
}

/*This is ugly... Avert your gaze*/

#imgLLC, #LLC, #LLC .child{
	border-color:#9d0000;
	color:#9d0000;
}

#imgLLC .fullBox{
	background:#9d0000;
}

#MUNE, #imgMUNE, #MUNE .child {
	border-color:#35333e;
	color:#35333e;
}
#MUNE .fullBox {
	background:#35333e;
}

#KIN, #imgKIN, #KIN .child {
	border-color:#565d55;
	color:#565d55;
}
#KIN .fullBox {
	background:#565d55;
}

#HAUS, #imgHAUS, #HAUS .child {
	border-color:#bd812b;
	color:#bd812b;
}
#HAUS .fullBox {
	background:#bd812b;
}

#TERM, #imgTERM, #TERM .child {
	border-color:#898989;
	color:#898989;
}
#TERM .fullBox {
	background:#898989;
}

#WSU, #imgWSU, #WSU .child {
	border-color:#452c14;
	color:#452c14;
}

#WSU .fullBox {
	background:#452c14;
}

#VFS, #imgVFS, #VFS .child {
	border-color:#578cc0;
	color:#578cc0;
}

#VFS .fullBox {
	background:#578cc0;
}

#PCI div.rightNavBtn, #imgPCI, #PCI .child, #PCI .miniButton {
	border-color:#a8b9b9;
	color:#a8b9b9;
}

#PCI .fullBox {
	background:#a8b9b9;
}

#ENC, #imgENC, #ENC .child {
	border-color:#000000;
	color:#000000;
}

#ENC .fullBox {
	background:#000000;
}

/*You can look now*/

.miniButton {
	line-height:1em;
	clear:left;
	margin-bottom:.25em;
}

.miniButton div {
	margin-left:.25em;
	padding:.1em;
}

.miniButton div a {
	font-size:1em;
}
























