html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1em;
	font-size: 62.5%;
	line-height: 62.5%;
	font-family:helvetica, arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
	position:relative;
}

figure img {
	max-width:100%;
}

p {
	margin:1em 0em;
}

/* End Zeroing */

/*General Stuff*/

#wrapper {
	width:100%;
	font-size:1em;
	padding:1em;
}

.clear {
	clear:both;
}

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tanText {
	color:#A29B85;
}

.whiteText {
	color:#ffffff;
}

.blackText {
	color:#000000;
}

.uppercase {
	text-transform:uppercase;
}

.black {
	background:#000000;
}

.tan {
	background:#A29B85;
}

.tanLeft {
	border-left:1em solid #A29B85;
}

.tanRight {
	border-right:1em solid #A29B85;
}

.blackLeft {
	border-left:1em solid #000000;
}

.blackRight {
	border-right:1em solid #000000;
}

/*Headline*/

div#headWrapper {
	margin:0em auto 1em auto;
	width:98em;
	vertical-align:baseline;
}

h1#name {
	font-size:2.4em;
	font-weight:bold;
	display:inline;
	margin-left:1.5%;
}

h2#subtitles {
	font-size:1.8em;
	font-weight:bold;
	display:inline;
	margin-left:1em;
}

/*Nav*/


div#navBar {
	max-width:96em;
	min-width:60em;
}


.header {
	width:40%;
	height:100%;
	padding: .5em 0em;
}

#projItem {
	width:19%;
	border-left:1em solid #A29B85;
	margin-left:.25em;
	overflow:hidden;
	padding-left:.25%;
}
/*
#projWrapper {
	border-left:1em solid #A29B85;
	margin-left:.25em;
}
*/
#projItem p {
	text-align:justify;
	text-align-last: justify;
	width:100%;
	font-size:1.8em;
	font-weight:bold;
	margin-top:.3em;
	
}

#projItem p:after {
content: "";
display: inline-block;
width: 100%;
}

#projWrapper ul li.imgBar {
	margin-top:0em;
	width:.55em;
	height:1.166em;
}

#navWrapper {
	max-width:98em;
	min-width:62em;
	margin:0em auto;
	line-height:1em;
	overflow: hidden;
	border-left:1em solid #000000;
	border-right:1em solid #A29B85;
}
#navWrapper ul {
	margin-left:.25em;
	height:2.1em;
	overflow:hidden;
}

#navWrapper ul li {
	float:left;
	display:block;
}

.tan a {
	font-size:1.2em;
}

a {
	text-decoration:none;
}

a.leftLink {
	margin-left:1em;
}

a.rightLink {
	margin-right:1em;
	float:right;
}

li.black a {
	font-weight:bold;
	font-size:1.2em;
}

/*Body*/

#bodyWrapper {
	max-width:98em;
	min-width:62em;
	margin:1em auto;
	padding-left:1.25em;
}

#contentWrapper {
	float:left;
	width:100%;
	line-height:1em;
	margin:1em 20em 1em 0em;
	font-family:helvetica, arial, sans-serif;
	font-size:1.2em;
	line-height:1.5em;
}

#rightNav {
	float:right;
	width:20em;
	margin-top:1em;
}

.textWrap {
	float:left;
	width:50%;
}

.contentFull {
	width:100%;
}


/* Resources */

#resourceWrapper {
	clear:both;
	max-width:98em;
	min-width:60em;
	margin: 0 auto;
}

.resourceButton {
	line-height:1em;
	clear:left;
	margin-bottom:.25em;
}

.resourceButton div {
	margin-left:.25em;
}

#resourceWrapper p {
	margin:0em 0em 0em 1em;
}


/*Right Nav */


.rightNavBtn {
	border-right:1em solid #000000;
	margin-bottom:.25em;
}

.rightNavBtn.hover, .rightNavBtn.selected, .miniButton {
	border-left:1em solid #000000;
}

.navImage, .child {
	border:.1em solid #000000;
	float:right;
	margin-right:.2em;
	width:5.5em;
	line-height:1em;
}

.child {
	font-size:1em;
	height:5.8em;
	text-align:center;
	display:table;
}


.child p {
	margin:0em;
	font-size:.9em;
	
	display:table-cell;
	vertical-align:middle;
}

div.fullBox {
	color:#ffffff !important;
}

div.hidden {
	display:none;
}

/*This is ugly... Avert your gaze*/

#imgLLC, #LLC div.rightNavBtn, #LLC .child, #LLC .unselected{
	border-color:#9d0000;
	color:#9d0000;
}

#LLC .fullBox{
	background:#9d0000;
}

#MUNE div.rightNavBtn, #imgMUNE, #MUNE .child, #MUNE .unselected {
	border-color:#35333e;
	color:#35333e;
}
#MUNE .fullBox {
	background:#35333e;
}

#KIN div.rightNavBtn, #imgKIN, #KIN .child, #KIN .unselected {
	border-color:#616161;
	color:#616161;
}
#KIN .fullBox {
	background:#616161;
}

#HAUS div.rightNavBtn, #imgHAUS, #HAUS .child, #HAUS .unselected {
	border-color:#1e7c03;
	color:#1e7c03;
}
#HAUS .fullBox {
	background:#1e7c03;
}

#TERM div.rightNavBtn, #imgTERM, #TERM .child, #TERM .unselected {
	border-color:#ffae1f;
	color:#ffae1f;
}
#TERM .fullBox {
	background:#ffae1f;
}

#WSU div.rightNavBtn, #imgWSU, #WSU .child, #WSU .unselected {
	border-color:#5e20a0;
	color:#5e20a0;
}

#WSU .fullBox {
	background:#5e20a0;
}

#VFS div.rightNavBtn, #imgVFS, #VFS .child, #VFS .unselected  {
	border-color:#578cc0;
	color:#578cc0;
}

#VFS .fullBox {
	background:#578cc0;
}

#PCI div.rightNavBtn, #imgPCI, #PCI .child, #PCI .unselected {
	border-color:#9fb1b1;
	color:#9fb1b1;
}

#PCI .fullBox {
	background:#9fb1b1;
}

#ENC, #imgENC, #ENC .child {
	border-color:#000000;
	color:#000000;
}

#ENC .fullBox {
	background:#000000;
}

/*You can look again...*/

.miniButton {
	line-height:1em;
	clear:left;
	margin-bottom:.25em;
}

.miniButton div {
	margin-left:.25em;
	padding:.1em;
}

.miniButton p {
	font-size:1em;
	margin:0em 0em 0em 1em;
}

div.mSelected {
	border-color:#000000;
}

#loading {
	background:#A29B85;
	font-size:2em;
	font-weight:bold;
	color:#000000;
	padding:.5em;
	width:25%;
	float:left;
}




















